@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img{
    background-image: url('../public/av.jpg');

}

.compass-img{
    background-image: url('../public/kind-compass.png');
}



  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    position: relative;
    overflow: hidden;
    width: 720px;
    height: 405px;
    
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1281px) {
  .swiper {
    width: 720px;
    
  }

  .swiper-slide {
    width: 720px;

  }
}
  @media (max-width: 1280px) {
    .swiper-slide {
      width: 540px;

    }
    .swiper{
      width: 540px;
    }

  }
  
  @media (max-width: 768px){
    .swiper-slide {
      width: 144px;

    }
    .swiper{
      width: 360px;
    }
  }

  @media (min-width: 640px){

  }

 