@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-img{
    background-image: url('../public/av.jpg');

}

.compass-img{
    background-image: url('../public/kind-compass.png');
}


.swiper {
    width: 720px;
    
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    position: relative;
    overflow: hidden;
    width: 720px;
    height: 405px;
    
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }




  
  @media (max-width: 768px){
    .swiper-slide {
      width: 144px;
      height: 81px;
    }
    .swiper{
      width: 450px;
    }
  }

  @media (max-width: 640px){
    .swiper{
      width: 360px;
    }
  }